/*no includes*/
.stoic-breadcrumb {
  
  --stc-pdng: 12px;
  --stc-pdng: var(--djds-space-020);
  
  nav {
    /*${logicalProps()}
    ${getStylePreset('')};*/
    padding: var(--stc-pdng);
  }
  
  ol {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0px;
  }
  
  li {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  button {
    ${({size, selected}) =>
      getStylePreset(`breadcrumbItem.${size}`, '', {isSelected: selected})};
    cursor: ${({selected}) => (selected ? 'text' : 'pointer')};
  }

}

/* Theme overrides */
.stoic-breadcrumb {
  --stc-pdng: 16px
    
}
